.GeneralInformationDiagnose {


    width: 100%;
    
    border-radius: 15px;
    background: #606c88;
    background: linear-gradient(to right, #3f4c6b, #606c88);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 15px;


}

.GeneralInformationDiagnose>div {
    display: flex;
    align-items:center;
    justify-content: center;
    
    gap: 10px;

}
.GeneralInformationDiagnose>div:nth-child(2n+1) {
 font-size: 25px;

}

.GeneralInformationDiagnose > div:nth-child(2){
    align-items: flex-start;
    letter-spacing: 1px;
    overflow: auto auto ;
    word-break:unset;
    height: 250px;

}

.GeneralInformationDiagnose>div p {
    color: whitesmoke;



}

.GeneralInformationDiagnose>div span {
    color: #252934;
    border-bottom: 2px solid #252934;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 28px
}