.GeneralDetailsDiagnoses {


    width: 300px;
    
    border-radius: 15px;
    background: #606c88;
    background: linear-gradient(to right, #3f4c6b, #606c88);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 15px;

}

.GeneralDetailsDiagnoses>div {
    display: flex;
    align-items: center;
    gap: 10px;

}

.GeneralDetailsDiagnoses>div p {
    color: whitesmoke;



}

.GeneralDetailsDiagnoses>div span {
    color: #252934;
    border-bottom: 2px solid #252934;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 20px
}