.container {
  width: 50%;
  padding: 20px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  
}

.up {

  position: absolute;
  width: 26px;
  left: 10px;
  top: 50%
}

.down {

  position: absolute;
  width: 32px;
  left: 7px;
  top: 60%;
}

/* ________________________________________ */
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title>div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.title>div img {
  width: 35px;
  background-color: #fff5f6;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.title>div p {
  font-size: 17px;
  font-weight: 600;
  color: #4f5e75;

}

.title button {
  border-radius: 50%;
  padding: 5px 10px;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
  color: #4f5e75;
}

/* __________________________________*/

.con {
  background-color: #fff5f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  align-self: center;
}






















.cyberpunk-button {
  background-color: #f44151;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #f44151;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #f44151;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 7.5px;
  height: 7.5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 14px;
  color: #4f5e75;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 200px;


}

.btn{
  cursor: pointer;
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:hover {

    cursor: not-allowed;
}