.container {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: #4f5e75;
}


.u:nth-child(2) {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    
    /* justify-content: center; */
    background-color: #f1fff0;
    border-radius: 12px;
}

.u label img {
    width: 50px;
}

.u p {
    font-size: 0.8rem;
    line-height: 2rem;

    letter-spacing: -0.025em;
}


.btn:disabled,
.btn:disabled:hover,
.btn:disabled:hover {

    cursor: not-allowed;
}
