.container {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: #4f5e75;
}

.containerInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 20px; */
    /* background-color:black ; */
}

.containerInputs button{
    position: relative ;
    /* left: 600px */
    left: -150px;
    top: -30px;
}

.containerButtons {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* margin-top: 40px; */
}